<nav class="fixed-top" id="navbar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="material-symbols-rounded">
        chevron_right
      </span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Socialize</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="navbar-nav">
          <a href="/posts">
            <div class="nav-item">
              <span class="material-symbols-rounded">
                home
              </span>
            </div>
          </a>
          <a href="/posts/new">
            <div class="nav-item">
              <span class="material-symbols-rounded">
                post_add
              </span>
            </div>
          </a>
          <% if(currentUser) {%>
          <a href="/logout/<%= currentUser._id %>">
            <div class="nav-item">
              <span class="material-symbols-rounded">
                logout
              </span>
            </div>
          </a>
          <% } else { %>
          <a href="/login">
            <div class="nav-item">
              <span class="material-symbols-rounded">
                login
              </span>
            </div>
          </a>
          <% } %>
        </div>
        <form class="d-flex findPostNavbarForm" role="search">
          <input class="form-control me-2" type="search" placeholder="Find posts" aria-label="Search"
            spellcheck="false">
          <button class="btn" type="submit">
            <span class="material-symbols-rounded">
              search
            </span>
          </button>
        </form>
        <div class="accountNav">
          <a href="/<%= (currentUser)?currentUser._id : "login" %> ">
            <span class="material-symbols-rounded">
              person
            </span>
            <span>
              Manage Account
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>