<nav class="fixed-top" id="navbar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <img class="materialIcon" src="/icons/chevron_right.svg" alt="">
    </button>
    <div id="logoFontWhenPhone"><a class="text-decoration-none text-white" href="/posts">SOCIALIZE</a></div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <a class="text-decoration-none color-socialize" href="/posts">SOCIALIZE</a>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="navbar-nav">
          <a href="/posts">
            <div class="nav-item">
              <img class="materialIcon" src="/icons/home.svg" alt="">
            </div>
          </a>
          <a href="/posts/new">
            <div class="nav-item">
              <img class="materialIcon" src="/icons/post_add.svg" alt="">
            </div>
          </a>
          <% if(currentUser) {%>
          <a href="/users/logout">
            <div class="nav-item">
              <img class="materialIcon" src="/icons/logout.svg" alt="">
            </div>
          </a>
          <% } else { %>
          <a href="/users/login">
            <div class="nav-item">
              <img class="materialIcon" src="/icons/login.svg" alt="">
            </div>
          </a>
          <% } %>
        </div>
        <form class="d-flex findPostNavbarForm" role="search">
          <input class="form-control me-2" type="search" placeholder="Find posts" aria-label="Search"
            spellcheck="false">
          <button class="btn" type="submit">
            <img src="/icons/search-dark.svg" alt="">
          </button>
        </form>
        <div class="accountNav">
          <a href="/users/<%= (currentUser)?currentUser._id : "login" %> ">
            <img src="/icons/person.svg" style="width: 38px;" alt="">
            <span>
              Manage Account
            </span>
          </a>
        </div>
        <% if (currentUser) {%>
        <div class="card cardIdentity my-4">
          <div class="card-body d-flex justify-content-center">
            <a href="/users/<%= currentUser._id %>/chats">
              <button class="btn btn-socialize">
                Inbox
              </button>
            </a>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>