body {
  font-family: 'Varela Round', sans-serif;
  /* transition: 0.3s; */
}

main {
  padding: 0;
}

/* ------- */
/* NAVBAR */
/* ------- */

nav {
  background-color: rgba(223, 225, 238, 0) !important;
  width: fit-content;
  float: right;
  right: 0 !important;
  left: auto !important;
}

.navbar-toggler {
  border: 0;
  background-color: #5969F1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  border-radius: 60px !important;
}

@media (max-width: 600px) {
  nav {
    width: 100%;
    position: relative !important;
    background-color: #d6dff4 !important;
  }

  .navbar-toggler {
    width: 48px;
    height: 32px;
  }
}

/* ------- */
/* AUTH PAGE */
/* ------- */
.formAuth .form-control {
  border: 0;
  background-color: #d6dff4;
  width: 100%;
}

.formAuth input {
  padding: 10px 20px;
  border-radius: 50px;
}

.formAuth button {
  width: 100%;
  background: linear-gradient(to right, #5969F1, #9CA6FF);
  border: 0;
  border-radius: 50px !important;
}

/* ------- */
/* NEW EDIT POST PAGE */
/* ------- */
.formContainer {
  margin-top: 20px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 40px;
}

.formPost .form-control {
  background-color: #d6dff4;
  border-radius: 20px;
}

.btnNewCustom {
  width: 100%;
  background: linear-gradient(to right, #5969F1, #9CA6FF);
  border: 0;
  border-radius: 20px !important;
}

.footer {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card {
  border-radius: 0 !important;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cardIndex {
  max-width: 50%;
  margin: auto;
}

.card-header {
  border-radius: 0 !important;
}

.card-footer {
  border: 0;
  border-radius: 0 !important;
  background-color: white;
}

.cardShow {
  max-width: 60%;
  margin: auto;
}

button {
  border-radius: 0 !important;
}



.image-post-index {
  max-height: 300px;
  width: auto;
  object-fit: cover;
}

.image-post-show {
  max-height: 450px;
  width: auto;
  object-fit: cover;
}

.image-post-userShow {
  max-height: 300px;
  object-fit: cover;
}

#cardShowHeader {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
}

#buttonShow {
  display: flex;
  align-self: center;
  justify-self: end;
}

#buttonShow form {
  display: inline-block;
  margin-left: 0.5em;
}

#commentsShow form {
  display: flex;
  justify-content: flex-end;
}

#commentsShow .card-header {
  display: flex;
  justify-content: space-between;
}

.profileBgImage {
  height: 15em;
}

.profileImageWrapper {
  height: 40px;
}

.profileImage {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 4px solid whitesmoke;
  position: relative;
  top: -10em;
}

.headerCardDesc {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.ownerName {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-left: 0.5em;
  font-family: "lato";
  text-transform: uppercase;
}

.postTitle {
  display: block;
  color: black;
  font-size: larger;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.postDescription {
  color: black;
  text-decoration: none;
}

.postHashtag {
  text-decoration: none;
}




.alert-dismissible {
  padding: 10px;
  max-width: 60%;
  margin: auto;
  margin-bottom: 15px;
}

.alert-dismissible .btn-close {
  padding: 14px;
}

@media (max-width: 450px) {
  .cardIndex {
    max-width: 100%;
  }

  .cardShow {
    max-width: 100%;
  }

  .cardUser {
    max-width: 100%;
  }
}

@media (min-width: 451px) and (max-width: 800px) {
  .cardIndex {
    max-width: 80%;
  }

  .cardShow {
    max-width: 80%;
  }

  .cardUser {
    max-width: 80%;
  }
}