body {
  font-family: 'Varela Round', sans-serif;
  /* transition: 0.3s; */
}

main {
  padding: 0;
}

/* ------- */
/* NAVBAR */
/* ------- */

nav {

  background-color: rgba(223, 225, 238, 0) !important;
  width: fit-content;
  float: right;
  right: 0 !important;
  left: auto !important;
}

.navbar-toggler {
  border: 0;
  background-color: white;
  border: 4px solid #5969F1;
  color: #5969F1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  border-radius: 60px !important;
  transition: 0.3s;
}

.navbar-toggler:focus {
  background-color: white;
  color: #5969F1;
}

.navbar-toggler .material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}

.offcanvas-header {
  color: #5969F1;
}

.offcanvas-backdrop.show {
  opacity: 15%;
}

#offcanvasNavbar {
  background-color: white;
  border: 0;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;
  height: 70px;
}

.navbar-nav .nav-item {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5969F1;
  background: linear-gradient(to right, #5969F1, #9CA6FF);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 25px;
  transition: 0.3s;
}

.navbar-nav .nav-item:hover {
  width: 70px;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar-nav .material-symbols-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: white;
}


.findPostNavbarForm input {
  border-radius: 20px;
  border: 3px solid #5969F1;
  color: #5969F1;
}

.findPostNavbarForm input::placeholder {
  color: #5969F1;
}

.findPostNavbarForm button {
  border-radius: 20px !important;
  border: 3px solid #5969F1;
  color: #5969F1;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.findPostNavbarForm button:hover {
  background-color: #5969F1;
  color: white;
}

.accountNav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5969F1;
  background: linear-gradient(200deg, rgba(89, 105, 241, 1) 0%, rgba(156, 166, 255, 1) 100%);
  padding: 20px;
  border-radius: 20px;
  transition: 0.3s;
}

.accountNav:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.accountNav a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.accountNav a .material-symbols-rounded {
  font-size: 50px;
}

@media (max-width: 600px) {
  nav {
    width: 100%;
    position: relative !important;
    background-color: #d6dff4 !important;
  }

  .navbar-toggler {
    width: 48px;
    height: 32px;
  }
}

/* ------- */
/* AUTH PAGE */
/* ------- */

.formAuth .form-control {
  border: 0;
  background-color: #d6dff4;
  width: 100%;
}

.formAuth input {
  padding: 10px 20px;
  border-radius: 50px;
}

.formAuth button {
  width: 100%;
  background-color: #5969F1;
  background: linear-gradient(to right, #5969F1, #9CA6FF);
  border: 0;
  border-radius: 50px !important;
}

/* ------- */
/* NEW EDIT POST PAGE */
/* ------- */
.formContainer {
  margin-top: 20px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 40px;
}

.formPost .form-control {
  background-color: #d6dff4;
  border-radius: 20px;
}

.btnNewCustom {
  width: 100%;
  background-color: #5969F1;
  background: linear-gradient(to right, #5969F1, #9CA6FF);
  border: 0;
  border-radius: 20px !important;
}

.footer {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.cardIndex {
  max-width: 50%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-header {
  background-color: #5969F1;
  border: 0;
}

.card-header a {
  color: white;
}

.card-footer {
  background-color: white;
  border: 0;
}

.cardShow {
  max-width: 60%;
  margin: auto;
}

button {
  border-radius: 0 !important;
}



.image-post-index {
  max-height: 300px;
  width: auto;
  object-fit: cover;
}

.image-post-show {
  max-height: 450px;
  width: auto;
  object-fit: cover;
}

.image-post-userShow {
  max-height: 300px;
  object-fit: cover;
}

#cardShowHeader {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
}

#buttonShow {
  display: flex;
  align-self: center;
  justify-self: end;
}

#buttonShow form {
  display: inline-block;
  margin-left: 0.5em;
}

#commentsShow form {
  display: flex;
  justify-content: flex-end;
}

#commentsShow .card-header {
  display: flex;
  justify-content: space-between;
}

.profileBgImage {
  height: 15em;
}

.profileImageWrapper {
  height: 40px;
}

.profileImage {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 4px solid whitesmoke;
  position: relative;
  top: -10em;
}

.headerCardDesc {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.ownerName {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-left: 0.5em;
  font-family: "lato";
  text-transform: uppercase;
}

.postTitle {
  display: block;
  color: black;
  font-size: larger;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.postDescription {
  color: black;
  text-decoration: none;
}

.postHashtag {
  text-decoration: none;
}




.alert-dismissible {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 80px;
  padding: 8px 20px;
  max-width: 85%;
  margin: auto;
  margin-bottom: 15px;
  left: 0;
  right: 0;
  z-index: 2000;
}

.alert-dismissible .btn-close {
  position: relative;
  padding: 14px;
}

@media (max-width: 450px) {
  .cardIndex {
    max-width: 100%;
  }

  .cardShow {
    max-width: 100%;
  }

  .cardUser {
    max-width: 100%;
  }
}

@media (min-width: 451px) and (max-width: 800px) {
  .cardIndex {
    max-width: 80%;
  }

  .cardShow {
    max-width: 80%;
  }

  .cardUser {
    max-width: 80%;
  }
}