.cardIndex {
    max-width: 50%;
    margin: auto;
}

.cardShow {
    max-width: 60%;
    margin: auto;
}

#cardShowHeader {
    display: flex;
    justify-content: space-between;
}

#buttonShow form {
    display: inline-block;
}

#commentsShow form {
    display: flex;
    justify-content: flex-end;
}

#commentsShow .card-header {
    display: flex;
    justify-content: space-between;
}

.ownerName {
    color: black;
    text-decoration: none;
}

body {
    background-color: rgb(245, 245, 245);
}

.btnNewCustom {
    width: 70px;
}

@media (max-width:450px) {
    .cardIndex {
        max-width: 100%;
    }

    .cardShow {
        max-width: 100%;
    }
}

@media (min-width:451px) and (max-width:800px) {
    .cardIndex {
        max-width: 80%;
    }

    .cardShow {
        max-width: 80%;
    }
}