<% layout('layouts/boilerplate') %>
<div class="col-sm-6 offset-sm-3 formContainer">
    <h3 class="mb-4 text-center">NEW POST</h3>
    <form action="/posts" method="POST" class="formPost needs-validation" enctype="multipart/form-data" novalidate>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" placeholder="Title" name="post[title]">
            <label for="title">Title</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="description" id="description" style="height: 100px"
                name="post[description]"></textarea>
            <label for=" description">Description</label>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="image">Add
                Images</label>
            <input type="file" name="post[image]" class="form-control" id="image" multiple>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="hashtag" placeholder="Hashtag" name="post[hashtag]">
            <label for="title">Hashtag</label>
        </div>
        <button class="btn btnNewCustom btn-sm btn-success mb-3">Post</button>
    </form>
</div>